<%= form_for(current_account, url: hyrax_autopopulation.settings_work_fetchers_path(current_account), :html => { class: "form control" }) do |f| %>
  <div class="panel-body">
    <div class="form-group">
      <%=f.fields_for :settings do |ff| %>

        <%= ff.label t("hyrax.autopopulation.form_doi_label") %><br>
        <p class="help-block"> <%= t('hyrax.autopopulation.hints.doi') %> </p>

        <%= ff.text_area :doi_list, value: current_account.settings.dig("autopopulation", "doi_list"), 
         class: "form-control", id: "doi_autopopulation_settings", placeholder:  t('hyrax.autopopulation.hints.doi_input_box') %><br>
        <br/>

        <%= ff.label t("hyrax.autopopulation.form_orcid_label") %><br>
         <p class="help-block"> <%= t('hyrax.autopopulation.hints.orcid') %> </p>

        <%= ff.text_area :orcid_list, value: current_account.settings.dig("autopopulation", "orcid_list"), class: "form-control",
          id: "orcid_autopopulation_settings", placeholder:  t('hyrax.autopopulation.hints.orcid_input_box') %><br>
     
      <% end %>
    </div>
  </div>

   <div class="panel-footer">
     <%= f.submit "Add IDs", class: "btn btn-primary pull-right" %>
   </div>
 <% end %>