<%= form_with(url: hyrax_autopopulation.settings_work_fetchers_path, :html => { class: "form control" }) do |f| %>
  <div class="panel-body">
    <div class="form-group">
      <%=f.fields_for :settings do |ff| %>
        <%= ff.label t("hyrax.autopopulation.form_doi_label") %><br>
        <%= ff.text_area :doi_list, value: " ", class: "form-control", id: "doi_autopopulation_settings" %><br>
        <br/>
        <%= ff.label t("hyrax.autopopulation.form_orcid_label") %><br>
        <%= ff.text_area :orcid_list, value: " ", class: "form-control", id: "orcid_autopopulation_settings" %><br>
     
      <% end %>
    </div>
  </div>

  <div class="panel-footer">
    <%= f.submit "Add IDs", class: "btn btn-primary pull-right" %>
  </div>
 <% end %>