
<% content_for(:page_title) { "Work Autopopulation" } %>

<% provide :page_header do %>
  <h1><span class="fa fa-arrow-circle-down" aria-hidden="true"></span> <%= t("hyrax.autopopulation.page_header") %></h1>

  <div class="pull-right">
    <%= link_to hyrax_autopopulation.fetch_with_doi_work_fetchers_path, method: :post, class: "btn btn-primary" do %>
      <span class="fa fa-edit" aria-hidden="true"></span> <%= t("hyrax.autopopulation.scan.unpaywall") %>
    <% end %>
 
    <%= link_to hyrax_autopopulation.fetch_with_orcid_work_fetchers_path, method: :post, class: "btn btn-primary" do %>
      <span class="fa fa-edit" aria-hidden="true"></span> <%= t("hyrax.autopopulation.scan.orcid") %>
    <% end %>
   </div>
<% end %>
  
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default tabs">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <a href="#autopopulation-settings" role="tab" data-toggle="tab"><%= t("hyrax.autopopulation.tabs.settings") %></a>
        </li>
        <li>
          <a href="#autopopulation-ids" role="tab" data-toggle="tab"><%= t("hyrax.autopopulation.tabs.ids") %></a>
        </li>
        <li>
          <a href="#fetched-import" role="tab" data-toggle="tab"><%= t("hyrax.autopopulation.tabs.draft") %></a>
        </li>
        <li>
          <a href="#approved-import" role="tab" data-toggle="tab"><%= t("hyrax.autopopulation.tabs.approved") %></a>
        </li> 
      </ul>

      <div class="tab-content">
        
        <div id="autopopulation-ids" class="tab-pane">
          <div class="panel panel-default labels">
            <div class="panel-body">
              <div>
                <%= render "settings_page", account: @account, saved_orcids: @saved_orcids, saved_doi: @saved_doi, rejected_doi: @rejected_doi  %>
              </div>
            </div> 
          </div> 
        </div> <!-- closes #autopopulation-ids -->

        <div id="fetched-import" class="tab-pane">
          <div class="panel panel-default labels">
            <div class="panel-body">
              <%= form_tag hyrax_autopopulation.approve_all_work_fetchers_path, method: :put do  %>
                <% if @draft_works.present? %> 
                  <%= submit_tag "Approve All", class: "btn btn-primary pull-right" %>  &nbsp;&nbsp;
                <% end %>
              <% end %>
              
              <span> &#160; </span>

              <div class="table-responsive">
                <%= form_tag hyrax_autopopulation.approve_multiple_work_fetchers_path, method: :put do  %>
                   <%= render "index_table", works: @draft_works %>

                    <% if @draft_works.present? %>
                      <div class="pull-right">
                        <%= submit_tag "Approve Selected", class: "btn btn-primary", 
                        data: { confirm: t("hyrax.autopopulation.approve_work_confirmation") } %>
                        
                      <%= submit_tag "Reject & delete", formaction: hyrax_autopopulation.reject_multiple_work_fetchers_path,
                            data: { confirm: t("hyrax.autopopulation.reject_work_confirmation") }, class: "btn btn-danger" %>
                      </div>
                    <% end %>

                <% end %>
              
              </div> 
            </div>
          </div>
        </div> 

        <div id="approved-import" class="tab-pane">
          <div class="panel panel-default labels">
            <div class="panel-body">
              <div>
                <%= render "index_table", works: @approved_works %>
              </div>
            </div>
          </div> 
        </div> 
          
      <div id="autopopulation-settings" class="tab-pane active">
       <div class="panel panel-default labels">
        <div class="panel-body">
          <div class="table-responsive">
            <% if Rails.application.config.hyrax_autopopulation.active_record? %>
              <%= render "hyku_autopopulation_settings_form" %>  
            <% else %>
              <%= render "hyrax_autopopulation_settings_form" %>
            <% end %>
          </div>
        </div>
      </div>
    </div> <!-- close #autopopulation-settings -->  
   </div> <!-- closes .tab-content -->
  </div> <!-- .panel-default tabs -->
 </div>
</div> <!-- .row -->
  