<!DOCTYPE html>
<html>
<head>
  <title>Hyrax autopopulation</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "hyrax/autopopulation/application", media: "all" %>
  <%= javascript_include_tag "hyrax/autopopulation/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
